{% extends "restaurant_review/base.html" %}
{% block head %}
{{ block.super }}
<style>
    .box {

        padding-top: 4.5rem;
        /* justify-content: center; */
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
{% url 'selectthree' as select %}

<div class="container">
    <div class="box">
        <h1> Experiment 2: Day {{ profile.experiment_two_day }} of 7 Complete! </h1>
        <!-- {% if profile.isPhotoTaken %} <h3> You've already taken a selfie today </h3> {% endif %} -->
        {% if not profile.isComplete %}
        <h3> Please come back tomorrow to take another selfie </h3>
        {% else %}
        <h3> Thank you for completing Experiment Two </h3>

        {% endif %}

        {% if profile.experiment_two_day == 7 %}
        <button class="btn btn-primary" type="submit" onclick="location.href = select">Return to Home</button>
        {% else %}
        <button class="btn btn-primary" type="submit" onclick="location.href = '/'">Return to Home</button>
        {% endif %}
    </div>
</div>

{% endblock %} 