{% extends 'deepar_base.html' %}
{% load static %}
{% block head %}
{{ block.super}}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
    <title>DeepAR</title>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}"/>

{% endblock %}
{% block content %}
{% csrf_token %}
    <img src="" id="image"/> 

    <canvas class="deepar" id="deepar-canvas" oncontextmenu="event.preventDefault()"></canvas>
    <button id="photo-btn" >Take photo</button>
    <div id="buttons">
      <button id="retake-btn" onclick="retakePhoto()">Retake photo</button>
      <button id="submit-btn" onclick="submitPhoto()">Submit photo</button>
    </div>

    <div id="loader-wrapper">
    <span class="loader"></span></span>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/js/deepar.js' %}"></script>
    <script type="text/javascript">
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      function base64ToArrayBuffer(_base64Str) {
            var binaryString = window.atob(_base64Str);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
          }
          return bytes;
      }

      function retakePhoto() {
          let canvas = document.getElementById('deepar-canvas');
          canvas.style.display = 'block';

          let image = document.getElementById('image');
          image.src = ""; 

          let take_photo = document.getElementById('photo-btn')
          take_photo.style.display = 'block';

          let buttons = document.getElementById('buttons')
          buttons.style.display = "none";
      }

      function submitPhoto() {
        let image = document.getElementById('image');
        let photo = image.getAttribute("src")
        console.log(photo)
        fetch('/deepar/', {
                method: 'POST',
                body: photo,
                headers: {
                  'X-CSRFToken': csrftoken,
                  'Content-Type': 'application/upload'
                }
              })
      }

      var canvasHeight = window.innerHeight;
      var canvasWidth = window.innerWidth;
      
      // desktop, the width of the canvas is 0.66 * window height and on mobile it's fullscreen
      if (window.innerWidth > window.innerHeight) {
        canvasWidth = Math.floor(window.innerHeight*0.66);
      }

      let canvas = document.getElementById('deepar-canvas');
      canvas.width = canvasWidth;
      canvas.height = canvasHeight;

      var deepAR = new DeepAR({ 
        licenseKey: '76861f09d5426ba79d58346c60d41cd4084a3e48d03020f4a281f4fa8d9b062be28b5bd6102e9551',
        canvas: canvas,
        segmentationConfig: {
          modelPath: "{% static 'lib/models/segmentation/segmentation-160x160-opt.bin' %}"
        },
        footTrackingConfig: {
          poseEstimationWasmPath: "{% static 'lib/wasm/libxzimgPoseEstimation.wasm' %}" ,
          detectorPath: "{% static 'lib/models/foot/foot-detector-android.bin' %}" , // or ...-ios.bin
          trackerPath: "{% static 'lib/models/foot/foot-tracker-android.bin' %}",  // or ...-ios.bin
          objPath: "{% static 'lib/models/foot/foot-model.obj' %}",
        },
        deeparWasmPath: "{% static 'lib/wasm/deepar.wasm' %}",
        callbacks: {
          onInitialize: function() {
          // start video immediately after the initalization, mirror = true
          deepAR.startVideo(true);

          // or we can setup the video element externally and call deepAR.setVideoElement (see startExternalVideo function below)

          deepAR.switchEffect(0, 'slot',  "{% static 'effects/MakeupLook.deepar' %}" , function() {
            // effect loaded
          });
        }
        }
      });

      deepAR.callbacks.onCameraPermissionAsked = function() {
        console.log('camera permission asked');
      };

      deepAR.callbacks.onCameraPermissionGranted = function() {
        console.log('camera permission granted');
      };

      deepAR.callbacks.onCameraPermissionDenied = function() {
        console.log('camera permission denied');
      };
      
      deepAR.callbacks.onScreenshotTaken = function(photo) {
        // console.log(photo);
        let image = document.getElementById('image');
        image.src = photo; 
        image.width = canvasWidth;
        image.height = canvasHeight; 
        canvas.style.display = 'none';

        let take_photo = document.getElementById('photo-btn')
        take_photo.style.display = 'none';

        let buttons = document.getElementById('buttons')
        buttons.style.display = "grid";
      };

      deepAR.callbacks.onImageVisibilityChanged = function(visible) {
        console.log('image visible', visible);
      };

      deepAR.callbacks.onFaceVisibilityChanged = function(visible) {
        console.log('face visible', visible);
      };

      deepAR.callbacks.onVideoStarted = function() {
        var loaderWrapper = document.getElementById('loader-wrapper');
        loaderWrapper.style.display = 'none';
      };

      deepAR.downloadFaceTrackingModel("{% static 'lib/models/face/models-68-extreme.bin' %}");

      document.getElementById('photo-btn').onclick = function(e) {
        deepAR.takeScreenshot(); 
      }

      // Position the carousel to cover the canvas
      if (window.innerWidth > window.innerHeight) {
        var width = Math.floor(window.innerHeight*0.66);
        var carousel = document.getElementsByClassName('effect-carousel')[0];
        carousel.style.width = width + 'px';
        carousel.style.marginLeft = (window.innerWidth-width)/2 + "px";
      }

    </script>
{% endblock %}
