{% extends "restaurant_review/base.html" %}
{% load restaurant_extras %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
      .row {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        align-items: center;
      }
      .status {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-content: center;
        column-gap: 10px;
      }
      .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      }
      
    .letter {
      display: flex;
      justify-content: left;
      align-items: center;
    }
    h6 {
      margin-bottom: 0;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Tasks</h1>
  
    <div class="wrapper">
      <div class="letter">
        <a href="{% url 'index' %}"><h3>Experiment 1</h3></a>
      </div>
      <div class="letter">
        <div class="status">
          <input type="checkbox" onclick="return false" {% if profile.experiment_one %} checked {% endif %} />
          {% if profile.experiment_one %} <h6>Complete</h6> {% else %} <h6> Not Complete</h6> {% endif %}
    
        </div>
      </div>
      <div class="letter">
        <h3>Experiment 2</h3>
      </div>
      <div class="letter">
        <div class="status">
          <input type="checkbox" onclick="return false" {% if profile.experiment_two%} checked {% endif %}/>
          {% if profile.experiment_two %} <h6>Complete</h6> {% else %} <h6> Not Complete</h6> {% endif %}
    
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}